PlutoSDR/obj/*
PlutoSDR/bin/*
Debug/*
Release/SDRSharp.Common.dll
Release/SDRSharp.Radio.dll
Release/*.xml
Release/SDRSharp.PlutoSDR.dll.*
*.suo
*.user
.vs/*
Release/libiio-sharp.dll
Release/SDRSharp.PanView.dll
Release/SDRSharp.PlutoSDR.dll
